* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Clases globales */
.img-responsive {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 40px;
}

h3 {
    color: rgb(164,110,36);
    font-size: 30px;
}

.centradoTxt {
    text-align: center;
}
/***********************/


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/***** LOGO Y BARRA DE NAVEGACIÓN *****/
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.logo {
    margin-left: 30px;
}

nav > ul {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
}

nav ul li:hover {
    color: rgb(164,110,36);
}
/********************/


/****** Slider *****/
.slider {
   width: 100%; 
}
/********************/


/***** SECTION TIPOS DE COMIDA *****/
.tiposComida {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; 
    margin-top: 30px;
    width: 100%;
    height: 50%; 
}

.tiposComida img {
    width: 44vw;
    height: 44vh;
} 

.tiposComida img:nth-child(2)  {
    margin-left: 30px;
}
/********************/


/***** Productos *****/
.productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.nav-productos {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-productos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-productos ul li {
    border: 1px solid rgb(170, 164, 164);
    padding: 12px 25px;
}

.nav-productos ul li:nth-child(2), .nav-productos ul li:nth-child(3) {
    margin-left: 10px;
}

.nav-productos ul li:hover {
    background-color: rgb(164,110,36);
    color: rgb(255, 255, 255);
}

.nav-productos ul li:nth-child(1) {
    background-color: rgb(164,110,36);
    color: rgb(255, 255, 255);
}
 .img-productos {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-producto {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.info-producto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgb(204, 199, 199);
}

.tituloProducto {
    padding-top: 15px;
    margin-bottom: 10px;
}

.puntuacionProducto {
   margin-top: 10px;
   padding-bottom: 20px;
}

.div {
    background-color: red;
    width: 100%;
}

.ver-productos button{
    margin-top: 45px;
    background-color: rgb(164,110,36);
    border: none;
    padding: 15px 40px;
    color: rgb(255, 255, 255);
}

.ver-productos button:hover {
    background-color: rgb(0, 0, 0);
}
/********************/


/***** Comentarios *****/
.container-comentarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
} 

.comentario {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 80px 10px;
    border: 2px solid rgb(164,110,36);
    width: 90%;
    height: 200px;
}

.autor-comentario {
    display: flex;
    align-items: center;
    width: 350px;
    height: 100px;
}

.datos-autor {
    margin-left: 30px;
}

.datos-autor p {
    margin-top: 10px;
}

.comentario p span {
    font-size: 20px;
}

.cita {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    margin-left: 100px;
    margin-right: 30px;
}
/********************/


/***** Logos marcas *****/
.logos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/********************/


/***** Footer *****/
footer {
    background-color: rgb(164,110,36);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.suscribir {
    padding-top: 25px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.suscribir div p {
    color: rgb(255, 255, 255);
}

.suscribir div:nth-child(2) button {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.input {
    display: flex;
    justify-content: center;
    height: 30px;
}

.suscribir div:nth-child(2) input {
    height: 25px;
    width: 300px;
}

.copyright {
    margin-top: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(255, 255, 255);
}

.copyright p {
    font-size: 12px;
}
/********************/





