* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Clases globales */
.img-responsive {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 40px;
}

.centradoTxt {
    text-align: center;
}
/***********************/


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/***** LOGO Y BARRA DE NAVEGACIÓN *****/
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.logo {
    margin-left: 30px;
}

nav > ul {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
}

nav ul li:hover {
    color: rgb(164,110,36);
}
/********************/


/****** Slider *****/
.slider {
   width: 100%; 
}
/********************/


/***** SECTION TIPOS DE COMIDA *****/
.tiposComida {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; 
    margin-top: 30px;
    width: 100%;
    height: 50%; 
}

.tiposComida img {
    width: 44vw;
    height: 44vh;
} 

.tiposComida img:nth-child(2)  {
    margin-left: 30px;
}
/********************/


/***** Productos *****/
.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.nav-productos {
    margin-top: 40px;
    width: 31vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-productos ul {
    width: 31vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-productos ul li {
    border: 1px solid rgb(170, 164, 164);
    padding: 12px 25px;
}

.nav-productos ul li:hover {
    background-color: rgb(164,110,36);
    color: rgb(255, 255, 255);
}

.nav-productos ul li:nth-child(1) {
    background-color: rgb(164,110,36);
    color: rgb(255, 255, 255);
}
 .img-productos {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-producto {
    display: flex;
    flex-direction: column;
}

.info-producto {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgb(204, 199, 199);
}

.tituloProducto {
    padding-top: 15px;
    margin-bottom: 10px;
}

.puntuacionProducto {
   margin-top: 10px;
   padding-bottom: 20px;
}

.div {
    background-color: red;
    width: 100%;
}
/********************/






